html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;  
}

.container{
    height: 100%;
    display: flex;
    font-family:'Courier New', Courier, monospace
}


.esquerda{
    height: 100%;
    width: 50%;
    background-color: aliceblue;    
}

#um{
    height: 10%;
    width: 100%;
}

#dois{
    height: 15%;
    width: 100%;
    text-align: center;
}

#tres{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.icones{
    height: 35%;
    cursor: pointer;
}

#quatro{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 10px;
}

input{
    height: 10%;
    width: 80%;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    border: 3px solid rgb(88, 192, 218);
    padding: 5px;
}

.meioQuatro{
    align-items: first baseline;
}

#cinco{
    height: 15%;
    width: 100%;
}

.direita{    
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to right, rgb(102, 132, 170), rgb(136, 182, 241));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

}

#hello{
    font-size: 50px;
}

#lblSubText{
    font-size: 20px;
    margin: 10px 0 5px 0;
    padding: 25px;
    text-align: justify;
}

#botao{
    background-image: linear-gradient(to left, rgb(102, 132, 170), rgb(136, 182, 241));
    border: 3px solid rgb(88, 192, 218);
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    font-weight: bolder;
}

#sign{
    font-size: 100px;
}

#your{
    cursor: pointer;
}

