html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;  
    background-color: rgb(83, 67, 97);
    text-align: center;
    align-items: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

#root{
    width: 80%;
}

.container-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


button{
    border-radius: 2px;
    background-color: rgb(192, 226, 255);
    font-size: 20px;
    height: 35px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 8px  rgb(255, 255, 255);
}

h2{
    font-size: 60px;
    color: rgb(198, 245, 247);
}

p{
    color: azure;
    line-height: 25px;
    text-align: left;
    
    
}